.imgCust{
    height: 94vh;
    object-fit: cover;
}

.card-own{
    display: flex;
    justify-content: center;
}

.siderCust{
    width: 60%;
    object-fit: cover;
}

.summaryPart{
    display:flex;
    justify-content: center;
}

.summry{
    text-align: justify;
}